* {font-family: 'Bilbo Swash Caps', cursive;}

body {
    background-image: url("balrog.jpg");
}

p {
    font-size:500%;
    text-align: center;
}

#button1 {
    font-size: 250%;

    background-image: url("gandalf.jpg");
    
    width:150px;
    height: 150px;

    margin-left: 50vw;
    margin-top: 10vh;
}